# --- datasets ---
projects/02-sql-dashboard/data/olist/

# --- env files ---
.env
**/.env

# --- python ---
__pycache__/
.ipynb_checkpoints/

# --- os ---
.DS_Store

.vscode/
projects/03-ai-support-agent/data/outputs.json
data/outputs.json